:root{
    --skyblue: #0d6efd
}

header{
    height:30vh;
    font-weight: lighter;
    color: white;
    background-color: var(--skyblue);
}

.title{
    font-size: 75px;
    padding-left: 5%;
}

.card{
    height: 150px;
    border: 0;
}
